---
import ChevronLeft from "@/assets/icons/ChevronLeft.astro";
import HeaderLink from "@/components/HeaderLink.astro";
import LayoutMain from "@/layouts/LayoutMain.astro";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<LayoutMain title={post.data.title}>
  <article class="flex justify-center" aria-label="list of blogs">
    <section class="prose prose-zinc max-w-none">
      <HeaderLink href="/blog" class="flex gap-1">
        <span class="mt-[3px]"> <ChevronLeft /> </span> Back To Posts
      </HeaderLink>
      <Content />
    </section>
  </article>
</LayoutMain>
