---
import LayoutMain from "../layouts/LayoutMain.astro";
---

<LayoutMain>
  <h1>
    Hola mi nombre es Felipe de Jesús soy un joven mexicano que se apasiona por
    el Desarrollo Web con más de 3 años de experiencia.
  </h1>
</LayoutMain>
