---
import LogoKachi from "@images/LogoKachimushi.webp";
import LogoYuma from "@images/LogoYuma.webp";
import LogoGS from "@svgs/LogoGS.svg";
import { Image } from "astro:assets";
---

<section class="p-4 col-span-2 my-5" aria-label="experencie">
  <h2 class="mb-5 font-extrabold text-3xl text-center">Experiencia</h2>
  <div
    class="grid grid-cols-2 gap-5 max-md:grid-cols-1 text-slate-200
      [&>*]:p-2 [&>*]:rounded-md [&>*]:bg-green-sheet
      [&>div>*]:list-disc
      [&>div>ul>*]:mx-4"
  >
    <div class="h-fit [&>*]:p-2 [&>*]:rounded-2xl grid gap-2 bg-gradient-to-r">
      <p class="text-black bg-slate-200 w-fit">
        Grupo Salinas, 07-2024 - Actualidad
      </p>
      <picture class="flex justify-center">
        <Image
          src={LogoGS}
          alt="GupoSalinas"
          class="p-2 rounded-lg bg-white"
          width={166}
          height={166}
        />
      </picture>
      <ul
        class="grid gap-4 text-sm leading-5 bg-slate-800 [&>*:nth-child(even)]:text-emerald-400"
      >
        <li>
          Diseñé e implementé la API de alertamientos NOC en .NET Core con
          Entity Framework y conexión múltiple a SQL Server y Oracle, aplicando
          las políticas de APIGEE e integrando JWT para garantizar seguridad y
          confiabilidad. Logré la carga masiva de reportes en menos de 10 ms
          para las sucursales de Banco Azteca y Elektra.
        </li>
        <li>
          Mejoré la interfaz de usuario para Sitios Telecom con AngularJS
          mediante componentización, división del consumo de servicios y mejoras
          de UX.
        </li>
        <li>
          Optimicé la API REST en Net Framework para Sitios Telecom reduciendo
          la velocidad en las transacciones mediante la gestión de errores y
          registro de logs en un 45%.
        </li>
        <li>
          Desarrollé y optimicé los Stored Procedures para los sistemas de
          Sitios Telecom y ADA, disminuyendo el tiempo en la generación de
          reportes y subida de información en un 40%.
        </li>
        <li>
          Diseñé e implementé nuevos servicios REST con arquitectura MVC para
          ADA AGU y LAM, sistema de auditoría para las sucursales de Elektra,
          Banco Azteca y Presta Prenda, mejorando el tiempo de respuesta en un
          45% y reduciendo los reportes de fallo.
        </li>
        <li>
          Aceleré en un 45% la sincronización de información con la subida de
          archivos masivos para los informes en los sistemas de ADA.
        </li>
      </ul>
    </div>
    <div class="h-fit [&>*]:p-2 [&>*]:rounded-2xl grid gap-2 bg-gradient-to-r">
      <p class="text-black bg-slate-200 w-fit">
        Yuma Capital Humano, 02-2023 - 06-2024
      </p>
      <picture class="flex justify-center">
        <Image
          src={LogoYuma}
          alt="LogoYuma"
          class="p-2 rounded-lg bg-white"
          width={230}
        />
      </picture>
      <ul
        class="grid gap-4 text-sm leading-5 bg-slate-800 [&>*:nth-child(even)]:text-emerald-400"
      >
        <li>
          Realicé integraciones de seguridad y certificación para aplicaciones
          web, corrigiendo vulnerabilidades, bugs y actualizando librerías para
          los sistemas de ADA AGU.
        </li>
        <li>
          Implementé servicios REST para la gestión de actas administrativas
          usando patrones de diseño en el consumo de servicios web externos
          mejorando la respuesta en un 60%.
        </li>
        <li>
          Integración de autenticación OAuth con el servicio de Okta para inicio
          de sesión.
        </li>
        <li>
          Mantuve e integré nuevas funcionalidades de interfaz de usuario UI con
          JavaScript para la integración y consumo de servicios nuevos.
        </li>
        <li>
          Optimización de Store Procedure con SQL Server mejorando procesos de
          recolección de datos usando Funciones, Vistas, Cursores, Subconsultas,
          unión de tablas y condiciones.
        </li>
        <li>
          Configuré entornos en IIS y Windows Server para despliegues de .Net
          Core.
        </li>
      </ul>
    </div>
    <div class="h-fit [&>*]:p-2 [&>*]:rounded-2xl grid gap-2">
      <p class="text-black bg-slate-200 w-fit">Kachimuchi, 02-2020 - 01-2023</p>
      <picture class="flex justify-center">
        <Image
          src={LogoKachi}
          width={200}
          height={200}
          alt="kachimushi"
          class="p-2 rounded-lg bg-white"
        />
      </picture>
      <ul
        class="grid gap-4 text-sm leading-5 bg-slate-800 [&>*:nth-child(even)]:text-emerald-400"
      >
        <li>
          Realice el mantenimiento del sistema de facturación electrónica
          Libellum. Hice la actualización a la versión CFDI 4.0 en ASP Net y Net
          Framework con consumo de servicios de facturación a través de
          servicios Web SOAP y API.
        </li>
        <li>
          Creé el Micro Servicio que automatiza los procesos de facturas
          globales usando el concepto de recursividad en .Net Core. consumiendo
          Web Services. Se optimizó la subida de datos a la mitad de tiempo.
        </li>
        <li>
          Hice el análisis y diseño de base de datos con Postgresql y diseño de
          software para Libellum suite usando Laravel con React js y
          Tailwindcss.
        </li>
        <li>
          Contribuí en el desarrollo de una aplicación web sobre Comandas de un
          restaurante para realizar pedidos de productos, envío de mensajes,
          orden de compra, y pago de productos.
        </li>
        <li>
          Creé la aplicación web Libellum Dashboard de monitoreo de facturas
          realizadas durante cierto tiempo en las sucursales de una franquicia.
        </li>
        <li>
          Capacitación de 2-3 desarrolladores para el uso de framework Laravel y
          base de datos MySQL y Postgresql.
        </li>
      </ul>
    </div>
  </div>
</section>
