---
import CardShadow from "./CardShadow.astro";
---

<section class="mx-4 my-5 max-md:col-span-2">
  <h2 class="font-extrabold text-3xl max-md:text-center mb-5 max-md:mb-4">
    Habilidades
  </h2>
  <CardShadow>
    <p class="text-blue-aqua">
      Estas son algunas de mis habilidades en las que me he desarrollado pero no
      significa que sea lo único que conozca o maneje, ya que me mantengo
      actualizando constantemente en el mundo de la tecnología y voy poniéndolas
      a prueba en proyectos personales.
    </p>
  </CardShadow>
</section>
<section class="md:my-5 md:px-8 max-md:col-span-2">
  <ul
    class="my-5 list-none grid gap-y-4
        *:rounded-md *:flex *:justify-between *:p-1
    *:bg-slate-600"
  >
    <li>
      <div
        class="rounded-md bg-shadow text-blue-aqua flex justify-between w-full p-1"
      >
        <span>.Net Core</span>
        <span>4 años</span>
      </div>
    </li>
    <li>
      <div class="rounded-md bg-shadow flex justify-between w-full p-1">
        <span>ASP Net</span>
        <span>4 años</span>
      </div>
    </li>
    <li>
      <div
        class="rounded-md bg-shadow text-blue-sky flex justify-between w-full p-1"
      >
        <span>PostgreSQL</span>
        <span>3 año</span>
      </div>
    </li>
    <li>
      <div
        class="rounded-md bg-shadow text-blue-aqua flex justify-between w-full p-1"
      >
        <span>SQL Server</span>
        <span>1 año</span>
      </div>
    </li>
    <li>
      <div class="rounded-md bg-shadow flex justify-between w-full p-1">
        <span>GitHub</span>
        <span>4 años</span>
      </div>
    </li>
    <li>
      <div
        class="rounded-md bg-shadow text-blue-sky flex justify-between w-full p-1"
      >
        <span>Laravel</span>
        <span>3 años</span>
      </div>
    </li>
    <li>
      <div
        class="rounded-md bg-shadow text-blue-aqua flex justify-between w-full p-1"
      >
        <span>React JS</span>
        <span>1 años</span>
      </div>
    </li>
    <li>
      <div class="rounded-md bg-shadow flex justify-between w-full p-1">
        <span>Tailwindcss</span>
        <span>2 años</span>
      </div>
    </li>
    <li>
      <div
        class="rounded-md bg-shadow text-blue-sky flex justify-between w-full p-1"
      >
        <span>Bootstrap</span>
        <span>3 años</span>
      </div>
    </li>
    <li>
      <div
        class="rounded-md bg-shadow text-blue-aqua flex justify-between w-full p-1"
      >
        <span>MySql</span>
        <span>3 años</span>
      </div>
    </li>
  </ul>
</section>
