---
import HeaderLink from "./HeaderLink.astro";
import IconFoodpanda from "@icons/IconFoodpanda.astro";
import IconMenuHamburger from "@icons/IconMenuHamburger.astro";
import IconUser from "@icons/IconUser.astro";
import IconBookReference from "@icons/IconBookReference.astro";
import IconFoco from "@icons/IconFoco.astro";
import IconMark from "@icons/IconMark.astro";
---

<header>
  <nav class="w-full">
    <div
      id="menuWeb"
      class="flex justify-between p-5 m-2 mt-7
    lg:mx-32 xl:mx-36 2xl:mx-96 rounded-full
    bg-slate-700 shadow-lg shadow-slate-500/50 text-white"
    >
      <div class="flex w-1/3 max-md:w-1/2">
        <HeaderLink href="/" class="hover:text-emerald-400">
          <IconFoodpanda />
        </HeaderLink>
      </div>

      <div class="flex justify-center w-1/3 max-md:w-1/2 max-md:justify-end">
        <button id="btnHambuger" class="z-10 mt-[-5px] hidden max-md:flex">
          <IconMenuHamburger />
        </button>

        <ul class="flex gap-4 place-content-center max-md:hidden">
          <li class="hover:text-emerald-400 hover:underline">
            <HeaderLink href="/" class="flex gap-1">
              <IconUser /> Sobre
            </HeaderLink>
          </li>
          <li class="hover:text-emerald-400 hover:underline">
            <HeaderLink href="/blog" class="flex gap-1">
              <IconBookReference /> Blog
            </HeaderLink>
          </li>
          <li class="hover:text-emerald-400 hover:underline">
            <HeaderLink href="/projects" class="flex gap-1">
              <IconFoco /> Proyectos
            </HeaderLink>
          </li>
        </ul>
      </div>
      <div class="flex justify-end w-1/3 max-md:hidden"></div>
    </div>

    <div
      id="menuMobile"
      class="rounded-lg p-5 absolute inset-x-3 top-7 z-20 transition duration-150 ease-in-out
            bg-slate-700 shadow-lg shadow-slate-500/50 text-white hidden animate-zoom-in"
    >
      <div class="flex justify-between">
        <IconFoodpanda />
        <div>
          <button id="btnCloseMenuMobile">
            <IconMark />
          </button>
        </div>
      </div>

      <div class="mt-4">
        <ul class="grid gap-4 [&>*]:py-4 [&>*]:pl-2 divide-y divide-slate-500">
          <li class="hover:text-emerald-400 hover:underline">
            <HeaderLink href="/" class="flex gap-1">
              <IconUser /> Sobre
            </HeaderLink>
          </li>
          <li class="hover:text-emerald-400 hover:underline">
            <HeaderLink href="/blog" class="flex gap-1">
              <IconBookReference /> Blog
            </HeaderLink>
          </li>
          <li class="hover:text-emerald-400 hover:underline">
            <HeaderLink href="/projects" class="flex gap-1">
              <IconFoco /> Proyectos
            </HeaderLink>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<script>
  const btnMenuHamburger = document.querySelector("#btnHambuger");
  const btnCloseMenuMobile = document.querySelector("#btnCloseMenuMobile");
  const menuWeb = document.querySelector("#menuWeb");
  const menuMobile = document.querySelector("#menuMobile");

  const animationIn = "animate-zoom-in";
  const animationOut = "animate-zoom-out";

  btnMenuHamburger?.addEventListener("click", () => {
    menuMobile?.classList.remove("hidden", animationOut);
    menuMobile?.classList.add(animationIn);
    menuWeb?.classList.add("opacity-0");
  });

  btnCloseMenuMobile?.addEventListener("click", () => {
    menuMobile?.classList.remove(animationIn);
    menuMobile?.classList.add(animationOut);
    menuWeb?.classList.remove("opacity-0");
  });

  menuMobile?.addEventListener("animationend", () => {
    if (menuMobile.classList.contains(animationOut)) {
      menuMobile.classList.add("hidden");
      menuMobile.classList.remove(animationOut);
    }
  });
</script>
