---
import "@fontsource-variable/tilt-neon";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="es">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="bg-shadow text-white">
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
